.App {
  text-align: center;
}

.headd {
  font-weight: bold;
}

.version {
  font-size: 20px;
  font-weight:500;
  color: red;
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  display: inline-block;
  margin-left: -10px;
}

body {
  background-color: #59ABE3;
  color: #222f3e;
}

.listBG .done .listText {
  opacity: 0.3;
  text-decoration: line-through;
}

.listBG .listText {
  flex: 1;
}

.listNumber {
  width: 30px;
  height: 30px;
  display: flex;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #1e272e;
}

.listBG {
  position: relative;
  background-color: #049372;
  font-size: 25px;
  text-align: left;
  padding: 10px 140px 10px 15px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.listBG div {
  display: flex;
  align-items: center;
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.iconW {
  display: inline-block;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 15px;
  width: auto;
}

.iconW span {
  margin: 0px 5px;
  display: inline-block;
  cursor: pointer;
  color: #00ff4c;
}

.iconW span:hover {
  color: #ff0000;
}

.btn {
  background-color: #5dca8e;
  cursor: pointer;
  position: relative;
  box-shadow: 0 7px #1a7940;
  margin-top: -5px;
}

.btn:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.update {
  margin-right: 15px;
  color: #222f3e;
}

.cancel {
  color: #222f3e;
}

